# Getting Started with Python

Notebook inspired from Mark Bakker's [page](http://mbakker7.github.io/exploratory_computing_with_python/) at TU Delft.

## First Python Steps
"Portable, powerful, and a breeze to use", Python is a popular, open-source programming language used for both scripting applications and standalone programs (see "Learning Python" by Mark Lutz). Python can be used to do pretty much anything. For example, you can use Python as a calculator. Position your cursor in the code cell below and hit [shift][enter]. The output should be 12 (-:

In [1]:
6 * 2

12

Note that the extra spaces are added to make the code more readable. 
`2 * 3` works just as well as `2*3`. And it is considered good style. Use the extra spaces in all your Notebooks.

When you are programming, you want to store your values in variables

In [2]:
a = 6
b = 2
a * b

12

Both `a` and `b` are now variables. Each variable has a type. In this case, they are both integers (whole numbers). To write the value of a variable to the screen, use the `print` function (the last statement of a code cell is automatically printed to the screen if it is not stored in a variable, as was shown above). Note that multiplication of two integers results in an integer, but division of two integers results in a float (a number with decimal places).

In [3]:
print(a)
print(b)
print(a * b)
print(a / b)

6
2
12
3.0

You can add some text to the `print` function by putting the text string between quotes (either single or double quotes work as long as you use the same at the beginning and end), and separate the text string and the variable by a comma

In [4]:
print('the value of a is', a)

the value of a is 6

A variable can be raised to a power by using `**` 
(a hat `^`, as used in some other languages, doesn't work).

In [5]:
a ** b

36

### Exercise 1. First Python code
Compute the value of the polynomial $y=ax^2+bx+c$ at $x=-2$, $x=0$, and $x=2.1$ using $a=1$, $b=1$, $c=-6$ and print the results to the screen.

In [6]:
x1 = 0
x2 = 2.1
a = 1
b = 1
c = -6

y1 = a*x1**2 + b*x1 + c
y2 = a*x2**2 + b*x2 + c

print('y1 = ', y1)
print('y2 = ', y2)

y1 =  -6
y2 =  0.5099999999999998

## Formatting numbers

In [26]:
a = 1
b = 3
c = a / b
print('%d divided by %d gives %f' % (a, b, c))            # old formatting (d: decimal integer, f: fixed-point notation, s: string, etc.)
print('{:d} divided by {:d} gives {:f}'.format(a, b, c))  # new formatting
print(f'{a:d} divided by {b:d} gives {c:f}')              # f strings

1 divided by 3 gives 0.333333
1 divided by 3 gives 0.333333
1 divided by 3 gives 0.333333

The complete syntax for fixed-point notation is `{:width.precision f}`. When `width` and `precision` are not specified, Python will use all digits and figure out the width for you. If you want a floating point number with 3 decimals, you specify the number of digits, `3`, followed by the letter `f` for floating point (you can still let Python figure out the width by not specifying it). If you prefer exponent (scientific) notation, replace the `f` by an `e`. The text after the `#` is a comment in the code. Any text on the line after the `#` is ignored by Python. More on that [here](https://docs.python.org/3/library/string.html#string-formatting).

In [12]:
print('{} divided by {} gives {:.3f}'.format(a, b, c))   # three decimal places
print('{} divided by {} gives {:10.3f}'.format(a, b, c)) # width 10 and three decimal places
print('{} divided by {} gives {:.3e}'.format(a, b, c))   # three decimal places scientific notation

1 divided by 3 gives 0.333
1 divided by 3 gives      0.333
1 divided by 3 gives 3.333e-01

### Exercise 2. Python code using string-formatting
Compute the value of the polynomial $y=ax^2+bx+c$ at $x=-2$, $x=0$, and $x=2.1$ using $a=1$, $b=1$, $c=-6$ and print the results to the screen using 2 decimal places.

In [29]:
x1 = 0
x2 = 2.1
a = 1
b = 1
c = -6

y1 = a*x1**2 + b*x1 + c
y2 = a*x2**2 + b*x2 + c

print('y1 = {:.2f}, y2 = {:.2f}'.format(y1, y2))

y1 = -6.00, y2 = 0.51

## Lists, tuples, sets and dictionnaries

List, Tuple, Set, and Dictionary are the data structures in python that are used to store and organize the data in an efficient manner.

**Lists:** are just like dynamic sized arrays, declared in other languages (vector in C++ and ArrayList in Java). Lists need not be homogeneous always which makes it a most powerful tool in Python.

**Tuple:** A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists that are mutable.

**Set:** A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

**Dictionary:** in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key value is provided in the dictionary to make it more optimized.

### Lists

In [40]:
# Creating an empty list
l = []

# Adding elements into a list
l.append(5)
l.append('ten')
l.extend([.3, [1, 2, 3], 'bazinga'])
print("Adding elements to a list", l)

# Popping elements from list
l.pop()
print("Popped one element from list", l)

# Accessing elements from a list
print("Element 0:", l[0])
print("Element up to 3:", l[:3])
print("list can be added", l[:2] + l[:3])

Adding elements to a list [5, 'ten', 0.3, [1, 2, 3], 'bazinga']
Popped one element from list [5, 'ten', 0.3, [1, 2, 3]]
Element 0: 5
Element up to 3: [5, 'ten', 0.3]
list can be added [5, 'ten', 5, 'ten', 0.3]

### Sets

In [43]:
# Creating an empty set
s = set()

# Adding element into set
s.add(5)
s.add(10)
s.add(10)
print("Adding 5 and 10 in set", s)

# Removing element from set
s.remove(5)
print("Removing 5 from set", s)

Adding 5 and 10 in set {10, 5}
Removing 5 from set {10}

### Tuples

In [49]:
# Convert a list into a tuple
t = tuple(l)

# Tuples are immutable
print("Tuple", t)

# Tuples can be converted to list
print("List", list(t))

Tuple (5, 'ten', 0.3, [1, 2, 3])
List [5, 'ten', 0.3, [1, 2, 3]]

### Dictionnaries

In [55]:
# Creating an empty dictionary
d = {}

# Adding the key value pair
d[5] = "Five"
d["Ten"] = 10
print("Dictionary", d)

# Removing key-value pair
del d["Ten"]
print("Dictionary", d)

Dictionary {5: 'Five', 'Ten': 10}
Dictionary {5: 'Five'}

### Exercise 3. Working with lists and sets
- Print the first 3 elements of the list `mylist`
- Remove the last element of `mylist`
- Convert `mylist` to a set. How many unique elements contains this set?

In [70]:
mylist = [0, 1, 2, 3, 4, 5, 4., 3., 2., 1., 0.]

In [71]:
print('first three elements of mylist: ', mylist[:3])
print(f'popped the element {mylist.pop(-1)} from mylist')
setlist = set(mylist)
print(f'the set contains {len(setlist)} unique elements')

first three elements of mylist:  [0, 1, 2]
popped the element 0.0 from mylist
the set contains 6 unique elements

## Loops and `if` statements
### The `for` loop
Loops are used to execute a command repeatedly. The syntax for a loop is as follows

In [73]:
for i in [0, 1, 2, 3, 4]:
    print('The value of i is', i)

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4

In the code above, the variable `i` loops through the five values in the list `[0, 1, 2, 3, 4]`. The first time through, the value of `i` is equal to `0`, the second time through, its value is `1`, and so on till the last time when its value is `4`. Note the syntax of a `for` loop: At the end of the `for` statement you need to put a colon (`:`) and after that you need to indent. It doesn't matter how many spaces you **indent**, as long as you keep using the same number of spaces for the entire `for` loop. Jupyter Notebooks automatically indent 4 spaces, which is considered good Python style, so use that. You can have as many lines of code inside the `for` loop as you want. To end the `for` loop, simply stop indenting.

In [74]:
for x in [0, 1, 2, 3]: 
    xsquared = x ** 2
    print('x, xsquare', x, xsquared)
print('We are done with the loop')

x, xsquare 0 0
x, xsquare 1 1
x, xsquare 2 4
x, xsquare 3 9
We are done with the loop

The list of values to loop through can be anything. It doesn't even have to be numbers. The `for` loop simply goes through all the values in the list one by one:

In [75]:
for data in [20, 'mark', 3.14159]:
    print('the value of data is:', data)

the value of data is: 20
the value of data is: mark
the value of data is: 3.14159

It is, of course, rather inconvenient to have to specify a list to loop through when the list is very long. For example, if you want to do something 100 times, you don't want to type a list of values from 0 up to 100. But Python has a convenient function for that called `range`. You can loop through a `range` just like you can loop through a list. To loop 10 times, starting with the value `0`:

In [76]:
for i in range(10):
    print('the value of i is:', i)

the value of i is: 0
the value of i is: 1
the value of i is: 2
the value of i is: 3
the value of i is: 4
the value of i is: 5
the value of i is: 6
the value of i is: 7
the value of i is: 8
the value of i is: 9

A `range` can be converted to a list with the `list` function (but we will not use that option very often). You can call `range` with just one argument, in which case it will generate a range from 0 up to but not including the specified number. Note that `range(10)` produces 10 numbers from 0 up to and including 9. You can optionally give a starting value and a step, similar to the `np.arange` function.

In [77]:
print('a range with 10 values:', list(range(10)))
print('a range from 10 till 20', list(range(10, 20)))
print('a range from 10 till 20 with steps of 2:', list(range(10, 20, 2)))

a range with 10 values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a range from 10 till 20 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
a range from 10 till 20 with steps of 2: [10, 12, 14, 16, 18]

Loops are very useful constructs in a programming script. Whenever you need to do a computation multiple times you should automatically think: *loop!*.

### Exercise 4.  The `for` loop
Create a list with the names of the months. Create a second list with the number of days in each month (for a regular year). Create a `for` loop that prints:

`The number of days in MONTH is XX days`

where, of course, you print the correct name of the month for `MONTH` and the correct number of days for `XX`.

In [79]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November',
          'December']
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

for ind, month in enumerate(months):
    print(f'The number of days in {month} is {days[ind]} days')

The number of days in January is 31 days
The number of days in February is 28 days
The number of days in March is 31 days
The number of days in April is 30 days
The number of days in May is 31 days
The number of days in June is 30 days
The number of days in July is 31 days
The number of days in August is 31 days
The number of days in September is 30 days
The number of days in October is 31 days
The number of days in November is 30 days
The number of days in December is 31 days

### The `if` statement
An `if` statement lets you perform a task only when the outcome of the `if` statement is true. For example

In [80]:
data = 4
print('starting value:', data)
if data < 6:
    print('changing data in the first if-statement')
    data = data + 2
print('value after the first if-statement:', data)
if data > 20:
    print('changing data in the second if-statement')
    data = 200
print('value after the second if-statement:', data)  # data hasn't changed as data is not larger than 20

starting value: 4
changing data in the first if-statement
value after the first if-statement: 6
value after the second if-statement: 6

Note the syntax of the `if` statement: It starts with `if` followed by a statement that is either `True` or `False` and then a colon. After the colon, you need to indent and the entire indented code block (in this case 2 lines of code) is executed if the statement is `True`. The `if` statement is completed when you stop indenting. Recall from Notebook 2 that you can use larger than `>`, larger than or equal `>=`, equal `==`, smaller than or equal `<=`, smaller than `<` or not equal `!=`.

### The `if`/`else` statement
The `if` statement may be followed by an `else` statement, which is executed when the condition after `if` is `False`. For example

In [81]:
a = 4
if a < 3:
    print('a is smaller than 3')
else:
    print('a is not smaller than 3')

a is not smaller than 3

You can even extend the `else` by adding one or more conditions with the `elif` command which is short for 'else if'

In [82]:
a = 4
if a < 4:
    print('a is smaller than 4')
elif a > 4:
    print('a is larger than 4')
else:
    print('a is equal to 4')

a is equal to 4

### Exercise 5. Combination of `for` loop with `if` statement

Print the square root of integers from -4 to 4 using string-formatting (3 decimal digits).

In [90]:
from math import sqrt

ints = list(range(-4,5,1))

for integer in ints:
    
    if integer >= 0:
        print(f'The square root of {integer} is {sqrt(integer)}')
    else:
        print(f'The square root of {integer} is not real')

The square root of -4 is not real
The square root of -3 is not real
The square root of -2 is not real
The square root of -1 is not real
The square root of 0 is 0.0
The square root of 1 is 1.0
The square root of 2 is 1.4142135623730951
The square root of 3 is 1.7320508075688772
The square root of 4 is 2.0

### Exercise 6. Loop through temperature data
Loop through all monthly temperatures and print a message that includes the month name (cf. exercise 4) and states whether the monthly average temperature is above or below 10 degrees

In [91]:
HollandTemperatures = [3.1, 3.3, 6.2, 9.2, 13.1, 15.6, 17.9, 17.5, 14.5, 10.7, 6.7, 3.7]

In [94]:
for ind, temp in enumerate(HollandTemperatures):
    if temp <= 10:
        print(f'The average temperature of {months[ind]} in Holland is less than or equal to 10 degrees')
    else:
        print(f'The average temperature of {months[ind]} in Holland is higher than 10 degrees')

The average temperature of January in Holland is less than or equal to 10 degrees
The average temperature of February in Holland is less than or equal to 10 degrees
The average temperature of March in Holland is less than or equal to 10 degrees
The average temperature of April in Holland is less than or equal to 10 degrees
The average temperature of May in Holland is higher than 10 degrees
The average temperature of June in Holland is higher than 10 degrees
The average temperature of July in Holland is higher than 10 degrees
The average temperature of August in Holland is higher than 10 degrees
The average temperature of September in Holland is higher than 10 degrees
The average temperature of October in Holland is higher than 10 degrees
The average temperature of November in Holland is less than or equal to 10 degrees
The average temperature of December in Holland is less than or equal to 10 degrees

### Looping and summation
One application of a loop is to compute the sum of all the values in an array. Consider, for example, the list `data` with 8 values. We will compute the sum of all values in `data`. We first define a variable `datasum` and assign it the initial value 0. Next, we loop through all the values in `data` and add each value to `datasum`.

Here we use the `enumerate()` function that allows us to set up a counter on the loop.

In [96]:
data = [1, 3, 2, 5, 7, 3, 4, 2]
datasum = 0
for i, value in enumerate(data):
    datasum = datasum + value
    print('i, value, datasum: ', i, value, datasum)
print('Total sum of data: ', datasum)

i, value, datasum:  0 1 1
i, value, datasum:  1 3 4
i, value, datasum:  2 2 6
i, value, datasum:  3 5 11
i, value, datasum:  4 7 18
i, value, datasum:  5 3 21
i, value, datasum:  6 4 25
i, value, datasum:  7 2 27
Total sum of data:  27

Note that the statement 

`datasum = datasum + value` 

means that `value` is added to the current value of `datasum` and that the result is assigned to `datasum`. There is actually a shorter syntax for the same statement: 

`datasum += value`

The `+=` command means: add whatever is on the right side of the `+=` sign to whatever is on the left side. You can use whichever syntax you are most comfortable with (although `+=` is considered to be better and in some cases more efficient).

### Exercise 7.  <a name="back4"></a>Running total
For the data of the previous example, compute the running total and store it in a list using a loop. Print both the list `data` and the list with the running total to the screen.

In [97]:
data = [1, 3, 2, 5, 7, 3, 4, 2]
datasum = 0
sumlist =[]
for i, value in enumerate(data):
    datasum = datasum + value
    sumlist.append(datasum)

print('Data: ', data)    
print('Running total summation of data: ', sumlist)

Data:  [1, 3, 2, 5, 7, 3, 4, 2]
Running total summation of data:  [1, 4, 6, 11, 18, 21, 25, 27]

### Finding the maximum value the hard way
Next, let's find the maximum in the array `data` and the index of the maximum value. For illustration purposes, we will do this the hard way by using a loop and an if statement. First, we create a variable `maxvalue` that contains the maximum value and set it initially to a very small number, and we create a variable `maxindex` that is the index of the maximum value and is initially set to `None`. Next we loop through all values in `data` and update the `maxvalue` and `maxindex` everytime we find a larger value than the current `maxvalue`

In [98]:
maxvalue = -1e8
maxindex = None
for i, value in enumerate(data):
    if value > maxvalue:
        maxvalue = value
        maxindex = i
print('the maximum value is ', maxvalue)
print('the index of the maximum value is ', maxindex)

the maximum value is  7
the index of the maximum value is  4

### `break` and `while`
A common task is to find the position of a value in a sorted table (e.g., a list). 
For example, determine between which two integers the number $\sqrt{17}$ falls in the ordered sequence `[1, 4, 5, 8, 9]`. 
To find the position in the list, we need to loop through the list and break out of the loop once we have found the position. For this, Python has the command `break`.

In [99]:
data = list(range(10))
s17 = sqrt(17)
for i, value in enumerate(data):
    if s17 < value:
        break
print('sqrt(17) is between', data[i - 1], 'and', data[i])

sqrt(17) is between 4 and 5

There is another way to code this using a `while` loop as shown below

In [100]:
data = list(range(10))
s17 = sqrt(17)
i = 0
while s17 >= data[i]:
    i += 1
print('sqrt(17) is between', data[i - 1], 'and', data[i])

sqrt(17) is between 4 and 5

In the `while` loop, the comparison is done at the beginning of the loop, while the counter (in this case `i`) is updated inside the loop. Either a loop with a `break` or a `while` loop with a counter works fine, but `while` loops may be tricky in some cases, as they can result in infinite loops when you have an error in your code. Once you are in an infinite loop (one that never stops), click on the [Kernel] menu item at the top of the window and select [Interrupt Kernel] or [Restart Kernel]. This will end your Python session and start a new one. When you print something to the screen in your `while` loop, it may not be possible to break out of the loop and you may need to end your Jupyter session (and potentially lose some of your work). Because of these problems with errors in `while` loops, it is recommended to use a loop with a break rather than a while loop when possible.